img{
    margin-top: 52px;
}

h1 {
    text-align: center;
    font-size: -webkit-xxx-large;
}

p {
    text-align: center;
    font-size: xx-large; 
}

a {
    text-align: center;
    font-size: x-large;
}

